.movies {
  padding: 46px 70px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 270px));
  justify-content: center;
  gap: 36px 20px;
}

.movies__error {
  display: flex;
  padding-bottom: 10px;
  justify-content: center;
  text-align: center;
  color: #ee3465;
  font-size: 12px;
  font-weight: 500;
  margin: 0;
}

@media screen and (max-width: 1000px) {
  .movies {
    padding: 0;
  }

  .movie {
    grid-template-columns: repeat(2, minmax(0, 339px));
    padding: 50px 30px;
    gap: 28px 30px;
  }
}

@media screen and (max-width: 600px) {
  .movie {
    grid-template-columns: repeat(1, minmax(0, 300px));
    padding: 6px 10px;
    row-gap: 30px;
  }
}
