@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);

.root {
  background-color: #fff;
  font-family: "Inter", "Arial", sans-serif;
  color: #000;
  margin: 0 auto;
}

.page {
  max-width: 1280px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
}
